@font-face {
  font-family: JuliusSansOne;
  src: url('/Font/JuliusSansOne-Regular.ttf');
}



* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: JuliusSansOne, 'Times New Roman', Times, serif;
}


header h1 {
  display: flex;
  justify-content: right;
  margin-top: 20px;
  border-bottom: 10px solid aquamarine;
  padding: 10px;

}


#blurb {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* margin-top: 30px; */
  border-bottom: 10px solid rgb(19, 185, 116);
  /* padding: 50px; */
  height: 200px;
}

#welcome {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 24px 0;
}

#flavor {
  margin-bottom: 5px;
  text-align: center;
}

#flavor span {
  font-family: Papyrus;
  font-weight: 800;
  color: rgb(18, 150, 202);
}

button {
  padding: 5px;
  width: 300px;
}

.action {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.output{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.output div {
  display: inline-flex;
  justify-content: center;
  align-content: center;
  width: 250px;
  height: 200px;
  border: 1px solid black;
  margin-top: 50px;
  /* margin-left: 150px */
}